@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spin buttons on number inputs - Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons on number inputs - Firefox */
input[type=number] {
  -moz-appearance: textfield;
} 